extends ./top.jade

block content

  .jumbotron#searchbox
    .container
      .col-lg-6
        h4 Search for a Gene
        .input-group
          input#geneIn(data-link='ajax', placeholder='Search for...')
          h4 Select result display and sort options:
          select#sort_category
            option(value='') Select category
            option(value='sample') By sample
            option(value='position') By position
            option(value='SNPEFF_effect') By SNPEFF effect
            option(value='genotype') By genotype
          
          button#geneClick Go!
  .container#searchresults
    .jumbotron
      h4 Search results for: the gene you search for....

    .container#sample
      h4 here are the loop outputs
      table.table
        thead.thead-default
          tr
            th Chromosome
            th Sample
            th Position
            th Reference
            th Alt
            th Genotype
            th SNPEFF Effect
        tbody#VCFinfo

    .container#position
      ul#positionTab.nav.nav-tabs
      .tab-content#tabContent

    .container#hide
      h4 here are the loop outputs
      table.table
        thead.thead-default
          tr
            th Chromosome
            th Sample
            th Position
            th Reference
            th Alt
            th Genotype
            th SNPEFF Effect
        tbody#VCFinfo

    script(src="js/bootstrap.min.js")
    script(src="javascripts/genesearch.js")