extends ./top.jade

block content

    p Search For a Gene

    .col-lg-6
      .input-group
        input#geneIn(data-link='ajax', placeholder='Search for...')
        button#geneClick Go!

    .container
      h4 here are the loop outputs
      table.table
        thead.thead-default
          tr
            th Chromosome
            th Sample
            th Reference
            th Alt
            th Position
            th SNPEFF Effect
        tbody
          #output

    .panel.panel-default
      h4 Here are the raw results:

      h2#AJAXresults

    script(src="javascripts/genesearch.js")