extends ./top.jade

block content

  .jumbotron#searchbox
    .container
      .col-lg-6
        h4 Search for a Gene
        .input-group
          input#geneIn(data-link='ajax', placeholder='Search for...')
          button#geneClick Go!
  .container#searchresults
    .jumbotron
      h4 Search results for: the gene you search for....

    .container
      h4 Select result display and sort options 
        select#sort_category
          option(value='') Select category
          option(value='no_sort') no sort
          option(value='sample') by sample
          option(value='position') by position
          option(value='SNPEFF_effect') by SNPEFF effect
          option(value='genotype') by genotype

    .container#sample
      table.table
        thead.thead-default
          tr
            th Chromosome
            th Sample
            th Position
            th Reference
            th Alt
            th Genotype
            th SNPEFF Effect
        tbody#VCFinfo

    .container#position
      ul#positionTab.nav.nav-tabs
      .tab-content#tabContent

    .container#SNPEFF_effect
      ul.nav.nav-tabs
        li
          a(href="#1", role="tab", data-toggle="tab") 1
        li
          a(href="#2", role="tab", data-toggle="tab") 2
        li
          a(href="#3", role="tab", data-toggle="tab") 3
      .tab-content
        #1.tab-pane(role='tabpanel') this is one
        #2.tab-pane(role='tabpanel') this is two
        #3.tab-pane(role='tabpanel') this is three

    .container#hide
      h4 here are the loop outputs
      table.table
        thead.thead-default
          tr
            th Chromosome
            th Sample
            th Position
            th Reference
            th Alt
            th Genotype
            th SNPEFF Effect
        tbody#VCFinfo

    script(src="js/underscore-min.js")
    script(src="js/bootstrap.min.js")
    script(src="javascripts/genesearch.js")