extends ./top.jade

block content

    p Search For a Gene

    .col-lg-6
      .input-group
        input#geneIn(data-link='ajax', placeholder='Search for...')
        button#geneClick Go!

    .container
      h4 here are the loop outputs
      table.table
        thead.thead-default
          tr
            th Chromosome
            th Sample
            th Position
            th Reference
            th Alt
            th Genotype
            th SNPEFF Effect

        tbody#VCFinfo

    script(src="javascripts/genesearch.js")