extends ./top.jade

block content

  .container
    .jumbotron#searchbox
      .container
        .col-lg-6
          h4 Search for a Gene
          .input-group
            input#geneIn(data-link='ajax', placeholder='Search for...')
          button#geneClick Go!

  .container#searchresults
    .jumbotron
      h4 Search results for: the gene you search for....

    .container
      h4 Select result display and sort options 
        select#sort_category
          option(value='') Select category
          option(value='no_sort') no sort
          option(value='sample') by sample
          option(value='position') by position
          option(value='SNPEFF_effect') by SNPEFF effect
          option(value='genotype') by genotype
          option(value='test') working tests

    .container#sample
      ul.nav.nav-tabs
        li.dropdown
          a#sampleDrop.dropdown-toggle(href='#', data-toggle='dropdown')
            | Select Sample
            b.caret
          ul#sampleTabs.dropdown-menu(role='menu', aria-labelledby='sampleDrop')
      #sampleContent.tab-content

    .container#position
      ul.nav.nav-tabs
        li.dropdown
          a#positionDrop.dropdown-toggle(href='#', data-toggle='dropdown')
            | Select Position
            b.caret
          ul#positionTabs.dropdown-menu(role='menu', aria-labelledby='positionDrop')
      #positionContent.tab-content

    .container#SNPEFF_effect
      ul.nav.nav-tabs
        li.dropdown
          a#effectDrop.dropdown-toggle(href='#', data-toggle='dropdown')
            | Select SNPEFF effect
            b.caret
          ul#effectTabs.dropdown-menu(role='menu', aria-labelledby='effectDrop')
      #effectContent.tab-content



    .container#test
      ul.nav.nav-tabs
        li
          a(href="#1", role="tab", data-toggle="tab") 1
        li
          a(href="#2", role="tab", data-toggle="tab") 2
        li
          a(href="#3", role="tab", data-toggle="tab") 3
      .tab-content
        #1.tab-pane(role='tabpanel') this is one
        #2.tab-pane(role='tabpanel') this is two
        #3.tab-pane(role='tabpanel') this is three
      .container
        ul#myTab.nav.nav-tabs
          li.active
            a(href='#home', data-toggle='tab') Home
          li
            a(href='#profile', data-toggle='tab') Profile
          li.dropdown
            a#myTabDrop1.dropdown-toggle(href='#', data-toggle='dropdown')
              | Dropdown 
              b.caret
            ul.dropdown-menu(role='menu', aria-labelledby='myTabDrop1')
              li
                a(href='#dropdown1', tabindex='-1', data-toggle='tab') @fat
              li
                a(href='#dropdown2', tabindex='-1', data-toggle='tab') @mdo
        #myTabContent.tab-content
          #home.tab-pane.fade.active.in
            p
              | Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
          #profile.tab-pane.fade
            p
              | Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
          #dropdown1.tab-pane.fade
            p
              | Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.
          #dropdown2.tab-pane.fade
            p
              | Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.


    .container#hide
      h4 here are the loop outputs
      table.table
        thead.thead-default
          tr
            th Chromosome
            th Sample
            th Position
            th Reference
            th Alt
            th Genotype
            th SNPEFF Effect
        tbody#VCFinfo

    script(src="js/underscore-min.js")
    script(src="js/bootstrap.min.js")
    script(src="javascripts/genesearch.js")