extends ./top.jade

block content

  .container
    .jumbotron
      h4 Query the regulatory interaction database
  .container
    h4 Compose a query statement:
    button#queryClick QUERY
  
  .container#testresults
    table.table
        thead
          tr
            th Regulator
            th Target
        tbody#netTable


  script(src="js/underscore-min.js")
  script(src="js/bootstrap.min.js")
  script(src="javascripts/networksearch.js")
