/* Basics */

body {
	background: white;
}

div.main {
	margin: 10%;
}

/* Initial Gene Search Box */

#geneClick {
	display: block;
}

#searchresults {
	display: none;
}

#sample {
	display: none;
}

#position {
	display: none;
}

#SNPEFF_effect {
	display: none;
}

#sort_options_show {
	display: initial;
}

#hide {
	display: none;
}