/* Basics */

body {
	background: white;
}

div.main {
	margin: 10%;
}

/* make row-fluid scroll horizontally */

#sampleTabs .nav.nav-tabs {
	overflow-x: scroll;
}

/* Table Stuff */

.has_alt {
	background-color: #F75D59;
}

/* Initial Gene Search Box */

#geneClick {
	display: block;
}

#searchresults {
	display: none;
}

/* Search Results */

#sample {
	display: none;
}

#position {
	display: none;
}

#SNPEFF_effect {
	display: none;
}

#test {
	display: none;
}

#hide {
	display: none;
}

/* ////////////// */
/* Network Search */

#textQuery {
	width: 100%;
}