/* Basics */

body {
	background: white;
}

div.main {
	margin: 10%;
}

/* make row-fluid scroll horizontally */

#sampleTabs .nav.nav-tabs {
	overflow-x: scroll;
}

/* Table Stuff */

.has_alt {
	background-color: #F75D59;
}

/* Initial Gene Search Box */

#geneClick {
	display: block;
}

#searchresults {
	display: none;
}

/* Search Results */

#sample, #position, #SNPEFF_effect, #test, #hide {
	display: none;
}

/* /////////////////// */
/* Interaction Network */

#select, #class {
	margin-left: 2px;
	margin-right: 2px;
}

#textQuery {
	width: 100%;
}

#specGeneInput, #specGeneClick, #testresults {
	display: none;
}

#cy {
	display: none;
	outline: 1px solid #D3D3D3;
	min-height: 400px;
	max-height: 600px;
	width: 80%;
 	position: relative;
}

/* ////////// */
/* CheckBoxes */

#filterOptions div.checkbox {
	margin-top: 0px;
	margin-bottom: 0px
}

#filterOptions div.col-md-4 {
	margin-top: 5px;
}